<h1><%= @campaign.campaign_name %> Players</h1>
<hr>
<% @players.each do |player| %>
<h3>Name: <%= player.player_name %></h3>
<p>Character: <%= player.character_name %></p>
<p>New: <%= player.new_player %></p>
<p>Character Level: <%= player.char_lvl %></p>
<% end %>
<%= link_to 'Sort Names', "/campaigns/#{@campaign.id}/players?order_by=player_name", method: :get %>
<br>
<%= button_to 'Add Player', "/campaigns/#{@campaign.id}/players/new", method: :get %>