<h1> Add Player to <%= @campaign.campaign_name %> </h1>
<hr>

<%= form_with url: "/campaigns/#{@campaign.id}/players", method: :post, local: true do |form| %>
  <%= form.label :player_name, "Player Name:" %>
  <%= form.text_field :player_name %><br><br>
  <%= form.label :character_name, "Character Name:" %>
  <%= form.text_field :character_name %><br><br>
  <%= form.label :new_player, "New Player:" %>
  <%= form.text_field :new_player %><br><br>
  <%= form.label :char_lvl, "Character Level:" %>
  <%= form.text_field :char_lvl %><br><br>
  <%= form.submit 'Add Player' %>
<% end %>