<h1>Edit Player</h1>
<hr>

<%= form_with url: "/players/#{@player.id}", method: :patch, local: true do |form| %>
  <%= form.label :player_name, "Player Name:" %>
  <%= form.text_field :player_name, value: @player.player_name %><br><br>
  <%= form.label :character_name, "Character Name:" %>
  <%= form.text_field :character_name, value: @player.character_name %><br><br>
  <%= form.label :new_player, "New Player:" %>
  <%= form.select :new_player, [true, false] %><br><br>
  <%= form.label :char_lvl, "Character Level:" %>
  <%= form.text_field :char_lvl, value: @player.char_lvl %><br><br>
  <%= form.submit 'Update' %>
<% end %>