<h1> All New DnD Players </h1>
<hr>
<%= image_tag 'players.webp', alt: 'DnDragon', class: 'floatRightIcon', height: 350 %>
<% @players.each do |player| %>
  <h3><%= player.player_name %></h3>
  <p>Character Name: <%= player.character_name %></p>
  <p>New Player: <%= player.new_player %></p>
  <p>Character Level: <%= player.char_lvl %></p>
  <p><%= button_to "Update #{player.player_name}", "/players/#{player.id}/edit", method: :get %></p>
  <p><%= button_to "Delete #{player.player_name}", "/players/#{player.id}", method: :delete %></p>
  <% end %>