<%= link_to 'View All Players', '/players' %>
<h1><%= @player.player_name %></h1>
<h3>Member of: <%= @player.campaign.campaign_name %></h3> 
<%# move to model and test %>
<p>Character Name: <%= @player.character_name %></p>
<p>New Player: <%= @player.new_player %></p>
<p>Character Level: <%= @player.char_lvl %></p>
