<h1><%= @player.player_name %></h1>
<h3>Member of: <%= @player_campaign.campaign_name %></h3>
<p>Character Name: <%= @player.character_name %></p>
<p>New Player: <%= @player.new_player %></p>
<p>Character Level: <%= @player.char_lvl %></p>
