<h1>Create New Campaign</h1>
<hr>
<%= form_with url: '/campaigns', method: :post, local: true do |form| %>
  <%= form.label :campaign_name, "Campaign Name:" %>
  <%= form.text_field :campaign_name %><br><br>
  <%= form.label :dm_name, "DM Name:" %>
  <%= form.text_field :dm_name %><br><br>
  <%= form.label :first_dm, "First DM:" %>
  <%= form.select :first_dm, [true, false] %><br><br>
  <%= form.label :difficult_rating, "Difficulty Rating:" %>
  <%= form.text_field :difficult_rating %><br><br>
  <%= form.submit 'Create' %>
  <% end %>