<!DOCTYPE html>
<html>
  <head>
    <title>DndCampaign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div>
  <%= link_to 'Campaigns', '/campaigns' %>
  &nbsp; &nbsp; &nbsp;
  <%= link_to 'Players', '/players' %>
  </div>
    <%= yield %>
  </body>
</html>
